ALLOWED_HOST=localhost,127.0.0.1
APP_DOMAIN=domain-name
DB_NAME=afyadata_db
DB_USER=afyadata
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=5432
DEBUG=False
ENGINE=django.db.backends.postgresql
SECRET_KEY=change-me

GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120

#FAO INTEGRATION
FAO_BASE_URL=https://cbs-175434516411.europe-west1.run.app
FAO_AUTH_URL=https://keycloak-175434516411.europe-west1.run.app/realms/master/protocol/openid-connect/token
FAO_CLIENT_ID=change-me
FAO_CLIENT_SECRET=change-me

#AFYADATA HUB
AFYADATA_HUB_URL=https://hub.afyadata.sacids.org/api/v1/projects/register/
AFYADATA_HUB_API_KEY=change-me
CURRENT_INSTANCE_EXTERNAL_URL=change-me
AFYADATA_GLOBAL_KEY=AFYADATA_GLOBAL_KEY

# For background process
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
