ENGINE=django.db.backends.postgresql
DB_NAME=afyadata_db
DB_USER=afyadata
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

DEBUG=False
ALLOWED_HOST=localhost,127.0.0.1
SECRET_KEY=change-me-please

GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120
