ENGINE=django.db.backends.postgresql
DB_NAME=afyadata_db
DB_USER=afyadata
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

DEBUG=False
ALLOWED_HOST=localhost,127.0.0.1
APP_DOMAIN=localhost
SECRET_KEY=change-me-please

GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120

#AFYADATA HUB
AFYADATA_HUB_URL=https://hub.afyadata.sacids.org/api/v1/projects/register/
AFYADATA_HUB_API_KEY=get-key-from-hub
CURRENT_INSTANCE_EXTERNAL_URL=domain-url
AFYADATA_GLOBAL_KEY=AFYADATA_GLOBAL_KEY

# For background process
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0