{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<main class="bg-white h-full" x-data="initData()">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">

        <!-- Card -->
        <div class="bg-white rounded-lg shadow-sm border border-gray-200">

            <!-- Card Header -->
            <div class="flex items-center justify-between px-5 py-4 border-b border-gray-200">
                <div>
                    <h2 class="text-sm font-semibold text-gray-800">
                        Locations
                    </h2>
                    <p class="text-xs text-gray-500">
                        List of all locations
                    </p>
                </div>

                <!-- Optional actions -->
                <div class="flex items-center space-x-2">
                    <button type="button"
                        class="inline-flex items-center rounded-sm border border-gray-300 bg-white px-3 py-1.5 text-xs font-medium text-gray-700 hover:bg-gray-100">
                        <i class='bx bxs-file-export px-1'></i> Export
                    </button>

                    <button type="button" x-html="btnSync" x-on:click="syncData();"
                        class="inline-flex items-center rounded-sm bg-slate-700 px-3 py-1.5 text-xs font-medium text-white hover:bg-slate-800">
                    </button>
                </div>
            </div>

            <!-- Card Body -->
            <div class="p-4">
                <div class="relative overflow-x-auto">
                    <div id="message_wrp" class="mb-3" hx-preserve></div>

                    <table id="datatable_locations" class="w-full text-xs text-left text-gray-700 border-collapse">
                    </table>
                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
</main>

{% endblock %}

{% block extra-js %}

<script language="javascript">
    $(document).ready(function () {
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable_locations'),
            "{% url 'ohkr:dt-locations' %}",
            {
                // extra_options (example)
                processing: false,
                autoWidth: false,
                scrollX: false,
                dom: `
                    <"flex justify-between items-center py-2 border-b text-sm"
                        <"flex gap-2 items-center"B>
                        <"flex items-center"p>
                    >
                    t
                `,
                buttons: [
                    // {
                    //     extend: 'csv',
                    //     text: 'Download Data',
                    //     filename: 'Project-Data-csv',
                    //     className: 'bg-gray-500 text-white text-xs px-3 py-1 rounded hover:bg-gray-600'
                    // }
                ],
                "pageLength": 13,
                responsive: false,
                language: {
                    search: "",
                    info: "_PAGE_ of _PAGES_",
                },
            }, {
            // extra_data
            // ...
        },);
    });

    //alpine data
    function initData() {
        return {
            formLoading: false,
            btnSync: "<i class='bx bxs-cloud-download px-1'></i> Sync Data",

            //show message
            showMessage(type, message) {
                const styles = {
                    success: "bg-green-100 border border-green-100 text-green-800 text-sm",
                    danger: "bg-red-100 border border-red-100 text-red-800 text-sm"
                };

                $('#message_wrp').html(
                    `<div class="${styles[type]} px-4 py-3 rounded-sm">${message}</div>`
                );
            },

            //sync diseases 
            async syncData() {
                this.formLoading = true;
                this.btnSync = "<i class='bx bx-loader-circle bx-spin'></i> Syncing data....";

                fetch(`/ohkr/locations/sync`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.success === true){
                            this.showMessage('success', data.success_msg);
                            setTimeout(() => window.location.reload(), 3000);
                        } else if(data.success == false){
                            this.showMessage('danger', data.error_msg)
                        }
                    }).catch(error => {
                        console.error("Error caught:", error);
                        this.showMessage('danger', data.error_msg);
                    }).finally(() => {
                        this.formLoading = false;
                        this.btnSync = "<i class='bx bxs-cloud-download px-1'></i> Sync Data";
                    });
            },
        }
    }

</script>
{% endblock extra-js %}