{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<main class="bg-white h-full">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">

        <!-- Card -->
        <div class="bg-white rounded-lg shadow-sm border border-gray-200">

            <!-- Card Header -->
            <div class="flex items-center justify-between px-5 py-4 border-b border-gray-200">
                <div>
                    <h2 class="text-sm font-semibold text-gray-800">
                        Clinical Signs
                    </h2>
                    <p class="text-xs text-gray-500">
                        List of all clinical signs
                    </p>
                </div>

                <!-- Optional actions -->
                <div class="flex items-center space-x-2">
                    <button
                        class="inline-flex items-center rounded-sm border border-gray-300 bg-white px-3 py-1.5 text-xs font-medium text-gray-700 hover:bg-gray-100">
                        <i class='bx bxs-file-export px-1' ></i> Export
                    </button>
                </div>
            </div>

            <!-- Card Body -->
            <div class="p-4">
                <div class="relative overflow-x-auto">
                    <div id="message_wrp" class="mb-3" hx-preserve></div>

                    <table id="datatable_clinical_signs" class="w-full text-xs text-left text-gray-700 border-collapse">
                    </table>
                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
</main>

{% endblock %}

{% block extra-js %}

<script language="javascript">
    $(document).ready(function () {
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable_clinical_signs'),
            "{% url 'ohkr:dt-clinical-signs' %}",
            {
                // extra_options (example)
                processing: false,
                autoWidth: false,
                scrollX: false,
                dom: `
                    <"flex justify-between items-center py-2 border-b text-sm"
                        <"flex gap-2 items-center"B>
                        <"flex items-center"p>
                    >
                    t
                `,
                buttons: [
                    // {
                    //     extend: 'csv',
                    //     text: 'Download Data',
                    //     filename: 'Project-Data-csv',
                    //     className: 'bg-gray-500 text-white text-xs px-3 py-1 rounded hover:bg-gray-600'
                    // }
                ],
                "pageLength": 13,
                responsive: false,
                language: {
                    search: "",
                    info: "_PAGE_ of _PAGES_",
                },
            }, {
            // extra_data
            // ...
        },);
    });

</script>
{% endblock extra-js %}