/*===============================================
Table
===============================================*/
table.dataTable {
    font-size: 13px;
    border-bottom: none !important;
}

table.dataTable th {
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    color: #424242 !important;
    border-bottom: #e5e7eb solid 1px !important;
    border-right: dashed 1px #e5e7eb !important;
    padding: 10px 10px !important;
}

table.dataTable tbody tr:hover {
    background-color: #f0f9ff;
}


table.dataTable tbody td,
table.dataTable thead th {
    padding: 10px 10px !important;
    border-bottom: #e5e7eb solid 1px !important;
    border-right: dashed 1px #e5e7eb !important;
}

table.dataTable tbody td:first-child,
table.dataTable thead th:first-child {
    border-left: none !important;
}

table.dataTable tbody td:last-child,
table.dataTable thead th:last-child {
    border-right: none !important;
}

table.dataTable tbody tr:last-child td {
    border-bottom: none !important;
}

table.dataTable tfoot {
    display: none;
}

.dataTables_paginate {
    margin-top: 10px;
}

.paginate_button {
    padding: 7px 10px;
    background-color: #ffffff;
    color: #6B7280;
    border-right: 0px;
    border-width: 1px;
    border-color: #D1D5DB;
    font-size: 0.6rem;
    line-height: 1.25rem;
    cursor: pointer;
}

.previous {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.next {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-right: 1px solid #D1D5DB;
    ;

}

.current {
    background-color: #D1FAE5;
}

span.asteriskField {
    color: #D32F2F;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}


@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

td.dt-control::before {
    content: '▼';
    /* or '+' or 'ⓘ' */
    color: #4b5563;
    /* text-gray-700 */
    display: inline-block;
    font-size: 14px;
}

/*===============================================|
Button
================================================*/
.btn-xss {
    padding: .12rem .30rem;
    font-size: .900rem;
    background: rgba(25, 103, 210, 0.07);
    line-height: 1.4;
    border-radius: 2px;
    transition: all 300ms ease;
}

select option {
    font-size: 0.75rem; /* text-xs */
}