{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<main class="bg-white h-full w-full">
    <div class="mx-auto max-w-7xl py-4 px-4 sm:px-6 lg:px-8">
        <div class="px-0 py-0 sm:px-0 mb-4">
            <h3 class="text-xl font-bold tracking-tight text-neutral-900">
                Forms
            </h3>
        </div>

        <div class="flex flex-row flex-wrap mb-4 border-spacing-y-2 border-b border-gray-200">

        </div>

        <div class="flex flex-row flex-wrap mt-2">
            <div class="w-full">
                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-900">
                        <tbody>
                            <tr class="bg-white border-b">
                                <td class="px-0 py-4 text-left font-medium text-gray-900 whitespace-nowrap">
                                    Icon
                                </td>

                                <th scope="row" class="px-0 py-4 text-left font-medium text-gray-900 whitespace-nowrap">
                                    <a href="form.html">Animal Disease Surveillance</a>
                                </th>
                                <td class="px-0 py-4">
                                    50
                                </td>
                                <td class="px-0 py-4">
                                    Private
                                </td>
                                <td class="px-0 py-4">
                                    05-07-2016 15:35:12
                                </td>

                                <td class="px-0 py-4">
                                    Action
                                </td>
                            </tr>

                            <tr class="bg-white border-b">
                                <td class="px-0 py-4 text-left font-medium text-gray-900 whitespace-nowrap">
                                    Icon
                                </td>

                                <th scope="row" class="px-0 py-4 text-left font-medium text-gray-900 whitespace-nowrap">
                                    <a href="form.html">Drug shops surveillance</a>
                                </th>
                                <td class="px-0 py-4">
                                    67
                                </td>
                                <td class="px-0 py-4">
                                    Private
                                </td>
                                <td class="px-0 py-4">
                                    05-07-2016 15:35:12
                                </td>

                                <td class="px-0 py-4">
                                    Action
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /End replace -->
    </div>
</main>

{% endblock %}

{% block extra-js %}{% endblock extra-js %}