{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

<main class="bg-white h-full">
    <div class="mx-auto max-w-7xl py-4 px-4 sm:px-6 lg:px-8">
        <!-- Card -->
        <div class="bg-white rounded-lg shadow-sm border border-gray-200 
            w-full md:max-w-3xl lg:max-w-4xl mx-auto">

            <!-- Card Header -->
            <div class="flex items-center justify-between px-5 py-4 border-b border-gray-200">
                <div>
                    <h2 class="text-sm font-semibold text-gray-800">
                        {{ title|default:'Create Project' }}
                    </h2>
                </div>
            </div>

            <!-- Card Body -->
            <div class="p-4">
                <div class="relative overflow-x-auto">

                    <div id="message_wrp"></div>

                    <form method="post" hx-encoding="multipart/form-data" hx-post="{% url 'projects:create' %}"
                        hx-target="#message_wrp" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in form.visible_fields %}
                        <div class="mb-3">
                            {{ field|as_crispy_field }}
                        </div>
                        {% endfor %}

                        <div class="flex justify-end space-x-2 pt-2">
                            <button type="button" hx-get="{% url 'projects:lists' %}" hx-target="body"
                                hx-swap="outerHTML"
                                class="bg-white hover:bg-red-600 text-red-600 hover:text-white border border-red-600 text-sm py-2 px-3 rounded-sm">
                                Cancel
                            </button>

                            <button type="button" hx-post="{% url 'projects:create' %}" hx-target="#message_wrp"
                                class="text-white bg-slate-700 hover:bg-red-800 text-sm px-3 py-2 rounded-sm">
                                Submit
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
</main>


{% endblock %}