{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}

{% block extra-css %}
<style>
    #datatable_members_wrapper .dataTables_filter {
        display: none !important;
    }

    #datatable_members thead tr:nth-child(2) {
        display: none !important;
    }

    #datatable_members thead input,
    #datatable_members thead select {
        display: none !important;
    }
</style>
{% endblock extra-css %}

{% block content %}

<main class="bg-white h-full">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">

        <div class="bg-white rounded-2xl shadow-sm border border-gray-200 overflow-hidden">
            {% include 'partials/list_header.html' with header_title="Project Members" header_subtitle="Review member access and activity from a single project roster." search_id="member_search" search_placeholder="Search member username or status..." export_button_id="members_export" %}

            <div class="p-4">
                <div class="relative overflow-x-auto">
                    <div id="message_wrp" class="mb-3" hx-preserve></div>

                    <table id="datatable_members" class="w-full text-xs text-left text-gray-700 border-collapse">
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block extra-js %}

<script language="javascript">
    $(document).ready(function () {
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable_members'),
            "{% url 'projects:dt-members' project.pk %}",
            {
                processing: false,
                autoWidth: false,
                scrollX: false,
                dom: `
                    <"flex justify-between items-center py-3 text-sm"
                        <"flex gap-2 items-center">
                        <"flex items-center"p>
                    >
                    t
                `,
                buttons: [
                    {
                        extend: 'csvHtml5',
                        text: 'Export',
                        filename: 'Project-Members-csv',
                        className: 'buttons-csv hidden'
                    }
                ],
                pageLength: 13,
                responsive: false,
                language: {
                    search: "",
                    info: "_PAGE_ of _PAGES_",
                    emptyTable: "No members found for this project.",
                },
            }, {
        },);

        $('#member_search').on('keyup', function () {
            $('#datatable_members').DataTable().search(this.value).draw();
        });

        $('#members_export').on('click', function () {
            $('#datatable_members').DataTable().button('.buttons-csv').trigger();
        });
    });

</script>
{% endblock extra-js %}
